$teal: #00bcd4;

.toasty {
	cursor: pointer;
}
.navbar-brand:hover {
	color: $teal !important;
}
.nav-link:hover {
	color: $teal !important;
}
.navbar-toggler {
	border: none !important;
}
*:focus {
	outline: none !important;
	box-shadow: none !important;
}