.buy-now {
	&-text {
		width: 100%;
		height: 400px;
	}
	&-background {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		
		z-index: -10;
			
		filter: greyscale(0%);
	}
}
.to-catalog {
	width: 100%;
	height: 400px;
}