$teal: #00bcd4;

.contact-block {
	height: 100vh;
}
a:hover {
	color: $teal !important;
	text-decoration: none !important;
}
.instagram {
	color: #E1306C;
}
.facebook {
	color: #3C5A99;
}
.telegram {
	color: #0088cc;
}
.linkedin {
	color: #0077B5;
}